.margin-top-25
{  
    margin-top: 25px;
}

.margin-top-15
{  
    margin-top: 15px;
}

.margin-left
{
	margin-left: 10px;
}


.margin-top-zero
{  
    margin-top: 0px;
}

.center-cabecalho{
	text-align: center;
}

hr 
{
	margin-top:0px;
	margin-bottom:0px;
	color: #C0C0C0;
	background-color: #C0C0C0;
	height: 1px;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 3px 8px;
    margin-bottom: -1px;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}