<div class="modal-content">
	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="cancelar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Cadastro</h4>
	</div>

	<div class="modal-body">
    	<p>{{mensagem}}</p>
		
		<input name="nome"
			   type="text"
	           class="form-control" 
	           ng-model="nome" 
	           placeholder="Informe o nome">
  	
    </div>
    
    <div class="modal-footer">
    	<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="salvar()">Salvar</button>
	</div>

</div>