<div class="modal-content">
	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="cancelar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Confirmação</h4>
	</div>

	<div class="modal-body">
    	<p>{{mensagem}}</p>
    </div>
    
    <div class="modal-footer">
    	<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="confirmar()">Confirmar</button>
	</div>

</div>