<div class="modal-content">
	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="fechar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">{{titulo}}</h4>
	</div>

	<div class="modal-body">
    	<p>{{mensagem}}</p>
    </div>
    
    <div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="fechar()">Ok</button>
	</div>

</div>