<div class="modal-content">
	<div class="modal-header">
    	<button type="button" class="close" aria-label="Close" ng-click="fechar()" ><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Salvar relatório como...</h4>
	</div>

	<div class="modal-body">
    	<button type="button" class="btn btn-primary btn-lg btn-block fa fa-file-pdf-o" ng-click="onClickPdf()"> PDF </button>
		<button type="button" class="btn btn-primary btn-lg btn-block fa fa-file-excel-o marin-top" ng-click="onClickXls()"> Planilha </button>
    </div>

</div>