<section class="tile" >
	<div class="tile-header dvd dvd-btm">
		<h1 class="custom-font"><strong>Bem-vindos ao Projeto Caixa Econômica Federal - Desafio Datainfo</strong></h1>
	</div>
	<div class="tile-body" >
	
		<img src="./assets/imagens/caixa-economica-federal.jpg" class="pull-left">

		<br>
		<br>
		<h6><b><i class="fa fa-registered" aria-hidden="true"></i> {{ano}}</b> - <i>versão 1.0</i> </h6>

		<br>
		<label class="control-label"><b>Dados do autor:</b></label>
		
		<br>
		<label class="control-label"><b>Nome: </b>Fabiano de Castro Monteiro.</label>

		<br>
		<label class="control-label"><b>Fone: </b>(48) 99657-8776</label>
		
		<br>
		<label class="control-label"><b>E-mail: </b>fabianodecastromonteiro@outlook.com</label>

		<br>
		<br>
		<label class="control-label" style="text-align: center"><b><i>"Todos os direitos reservados".</i></b></label>
		
	</div>
</section>