<div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" ng-click="close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Cadastro de usuário</h4>
	</div>

	<div class="modal-body">

		<div class="form-group col-sm-12">
			<label><b><i>Dados do Animal</i></b></label><hr>
		</div>

		<div class="form-group col-sm-6">
			<label class="control-label">E-mail:</label> 
			<input name="nomePopularAnimal" class="form-control" ng-model="usuario.email" ng-disabled="true" />
		</div>

		<div class="form-group col-sm-6">
			<label class="control-label">Nome:</label>
			<input name="especieAnimal" class="form-control" ng-model="usuario.nome" ng-disabled="true" />
		</div>

		<div class="form-group col-sm-2">
			<label class="control-label">CPF:</label>
			<input name="idadeAnimal" class="form-control" ng-model="usuario.cpf" ng-disabled="true" />
		</div>

		<div class="form-group col-sm-2">
			<label class="control-label">Telefone:</label>
			<input name="sexoAnimal" class="form-control" ng-model="usuario.telefone" ng-disabled="true" />
		</div>

		<div class="form-group col-sm-4">
			<label class="control-label">Função:</label>
			<select name="funcao" class="form-control" ng-options="funcao as funcao.nome for funcao in funcoes track by funcao.id" ng-model="usuario.funcao"></select>
		</div>

		<div class="form-group row"></div>
		
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Fechar</button>
	</div>

</div>