<div class="page" ng-init="init()">

	<form name="form" novalidate>

				<section class="tile">
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>Filtros</strong>
				</h1>

				<ul class="controls">
					<li class="dropdown" uib-dropdown>
						<a ng-click="openMenu()" tile-control-toggle class="dropdown-toggle settings">
							<span class="expand fa fa-minus"></span> 
							<span class="minimize fa fa-plus"></span>
						</a>
					</li>
				</ul>
			</div>

			<div class="tile-body" ng-show="isOpen">
				<div class="form-group">
					<div class="form-group col-sm-6">
						<label class="control-label">Nome</label> 
						<input type="text" class="form-control" ng-model="usuariosFiltro.nome">
					</div>
<!--  
					<div class="form-group col-sm-6">
						<label class="control-label">Situação</label> 
						<input name="situacao" type="text" class="form-control" ng-model="usuariosFiltro.situacao" bs-datepicker autoclose="true" required>
					</div>
					<div class="form-group col-sm-6">
						<label class="control-label">Perfil</label> 
						<select name="perfil" class="form-control" ng-options="funcao.nome for funcao in funcoes track by funcao.id" ng-model="usuario.funcao"></select>
					</div>
-->
				</div>
				<div class="row form-group"></div>
			</div>
		</section>

		<section class="tile">
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>Listagem de usuários</strong>
				</h1>
				<ul class="controls">
					<li>
						<a href="#/datainfo/usuario/cadastrar" data-toggle="tooltip" title="Adicionar usuário"> 
							<i class="minimize fa fa-plus"></i>
						</a>
					</li>
					<li>
						<a ng-click="pesquisar()" data-toggle="tooltip" title="Pesquisar"> 
							<i class="fa fa-search"></i>
						</a>
					</li>
				</ul>
			</div>

			<div class="tile-body p-0">
				<table class="table table-hover">
					<tr>
						<th>E-mail</th>
						<th>Nome</th>
						<th>Perfil</th>
						<th>Habilitado</th>
						<th>Ações</th>
					</tr>
					<tr ng_repeat="usuario in usuarios">
						<td ng_bind="usuario.email"></td>
						<td ng_bind="usuario.nome"></td>
						<td ng_bind="usuario.funcao.nome"></td>
						<td>
							<i class="fa fa-toggle-{{ usuario.situacao == 'A' ? 'on' : 'off'}}"></i>
						</td>
				        <td>
			        		<i class="btn btn-danger btn-xs fa fa-times" ng-click="removerUsuario(usuario)" data-toggle="tooltip" title="Excluir usuário"></i>
			        		<!--
			        		<a class="btn btn-warning btn-xs fa fa-pencil" href="#!/datainfo/notificacao/{{usuario.id}}" data-toggle="tooltip" title="Alterar usuário"></a>
			        		-->
				        </td>
					</tr>
				</table>
			</div>

			<div class="tile-footer dvd dvd-top">
				<div class="row">
					<div rodape-paginado></div>
				</div>
			</div>
		</section>

	</form>
</div>