<div class="page">

	<form name="form" novalidate>

		<section class="tile">
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>Cadastro de usuário</strong>
				</h1>
			</div>

			<div class="row form-group"></div>

			<div class="form-group col-sm-6">
				<label class="control-label">E-mail:</label> 
				<input name="nomePopularAnimal" class="form-control" ng-model="usuario.email" />
			</div>
	
			<div class="form-group col-sm-6">
				<label class="control-label">Nome:</label>
				<input name="especieAnimal" class="form-control" ng-model="usuario.nome" />
			</div>
	
			<div class="form-group col-sm-2">
				<label class="control-label">CPF:</label>
				<input name="idadeAnimal" class="form-control" ng-model="usuario.cpf" />
			</div>
	
			<div class="form-group col-sm-2">
				<label class="control-label">Telefone:</label>
				<input name="sexoAnimal" class="form-control" ng-model="usuario.telefone" />
			</div>
	
			<div class="form-group col-sm-4">
				<label class="control-label">Função:</label>
				<select name="funcao" class="form-control" ng-options="funcao.nome for funcao in funcoes track by funcao.id" ng-model="usuario.funcao"></select>
			</div>

			<div class="form-group col-sm-4">
				<label class="control-label">Situação:</label>
				<select name="situacao" class="form-control" ng-options="situacao.nome for situacao in situacoes" ng-model="usuario.situacao"></select>
			</div>

			<div class="row form-group"></div>

		</section>
			
		<div class="form-group col-sm-12" style="margin-top: -17px; text-align: right">
			<a href="#/datainfo/usuario/listar" data-toggle="tooltip" title="Adicionar usuário"> 
				<button type="button" class="btn btn-primary" ng-click="salvarUsuario(usuario)">
					Voltar
				</button>
			</a>
			<button type="button" class="btn btn-success" ng-click="salvarUsuario(usuario)">
				Salvar
			</button>
		</div>

	</form>
	
</div>