<header class="clearfix" ng-controller="HeaderController">
	
	<!-- Branding -->
	<div class="branding scheme-cyan">
		<a class="brand">
			<span> <strong>APPS</strong> Dive</span>
		</a>
		<a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar>
			<i class="fa fa-bars"></i>
		</a>
	</div>

	<!-- side bar -->
	<ul class="nav-left pull-left list-unstyled list-inline">
		<li class="sidebar-collapse divided-right">
			<a href="javascript:;" collapse-sidebar>
				<fa name="outdent"></fa>
	    	</a>
		</li>
	</ul>

</header>