<div class="page page-core page-login">

  <div class="text-center">
  	<h3 class="text-light text-white">
  		<span class="text-lightred">VIG</span>ILANTOS
  	</h3>
  </div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">

    <h2 class="text-light text-greensea"><strong>Acesso Negado</strong></h2>
    <h4 class="mb-0 mt-40">Você não possui permissão para acessar esta pagina!</h4>

    <div class="bg-slategray lt wrap-reset mt-40 text-center">
      <button class="btn btn-greensea btn-sm b-0" ng-click="home()"><i class="fa fa-home"></i> Voltar para home</button>
<!--       <button class="btn btn-lightred btn-sm b-0"><i class="fa fa-envelope-o"></i> Contact support</button> -->
    </div>

  </div>

</div>
