<div id="sidebar-wrap" ng-controller="NavbarController">
	
	<uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

	<uib-accordion-group is-open="status.isFirstOpen">
	
		<uib-accordion-heading> Módulos 
			<i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
		</uib-accordion-heading>

		<ul id="navigation" nav-collapse>
			<li>
				<a> 
					<i class="fa fa-home" aria-hidden="true" data-toggle="tooltip" title="Módulo Epizootia"> </i> 
					<span>Principal</span>
				</a>
			</li>
			<li>
				<a> 
					<i class="fa fa-gear" aria-hidden="true" data-toggle="tooltip" title="Módulo Epizootia"> </i> 
					<span>Configurações </span>
				</a>
				<ul>
					<li>
						<a href="#/datainfo/usuario/listar"> <fa name="caret-right"></fa> Usuário</a>
					</li>
				</ul>
			</li>
			<li>
				<a> 
					<i class="fa fa-question" aria-hidden="true" data-toggle="tooltip" title="Módulo Epizootia"> </i> 
					<span>Sobre</span>
				</a>
			</li>
		</ul>
	</uib-accordion-group> </uib-accordion>
</div>
